* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppons', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 10%;
    background-color: rgba(0, 0, 0, 0.836);
    border-bottom: 1px solid #BF5B04;
    backdrop-filter: blur(5px);
    transition: all .2s ease-in-out;
}

.logo {
    font-size: 32px;
    color: white;
    font-weight: 600;
}

.logo span {
    color: #BF5B04;
}

.nav {
    display: flex;
}

.nav a {
    display: inline-block;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: .3s ease;
}

.nav a:hover {
    color: #BF5B04;
    border-bottom: 2px solid #BF5B04;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 2.5em;
}

#menu-icon {
    font-size: 30px;
    color: white;
    z-index: 1001;
    cursor: pointer;
    transition: 0.3s ease;
}

#menu-icon:hover {
    transform: rotate(180deg);
    color: #BF5B04;
}

section {
    padding: 5% 10%;
}

.main-home {
    position: relative;
    width: 100%;
    margin-top: 8%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    z-index: 10;
    border-bottom: 1px solid #bf5b04de;
}

.main-home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background: url(imagens/padeiro_1.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    transform: scale(1.0);
    z-index: -1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #BF5B04;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.603);
    width: 50px;
}

.main-text {
    margin-top: 70px;
    z-index: 1;
}

.main-text h5 {
    color: #BF5B04;
    font-size: 32px;
    font-weight: 500;
}

.main-text h1 {
    color: black;
    font-size: 92px;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text .down-text {
    color: black;
    font-size: 72px;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p {
    color: black;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 70px;
}

.main-btn {
    display: inline-block;
    color: #111;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #111;
    padding: 12px 30px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.main-btn i {
    margin-left: 5px;
    vertical-align: middle;
}

.main-btn:hover {
    background-color: #111;
    color: #BF5B04;
    z-index: 1500;
}

.down {
    position: absolute;
    top: 70%;
    left: 40%;
}

.down-arrow i {
    font-size: 36px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px 20px;
    transition: 0.3s ease;
}

.down-arrow i:hover {
    color: #BF5B04;
    background: black;
}

.row #star {
    color: rgb(255, 191, 0);
}

.center-text h2 {
    color: black;
    font-size: 28px;
    text-align: center;
    margin-bottom: 3em;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    margin-bottom: 5em;
}

.row {
    position: relative;
    transition: all .4s;
    border: 2px solid rgb(235, 235, 235);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.row:hover {
    transform: scale(1.03);
}

.row img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.row #heart {
    color: red;
    position: absolute;
    right: 20px;
    font-size: 24px;
    transition: all 0.3s ease;
}

.row #heart:hover {
    text-shadow: 0 0 10px red;
}

header.sticky {
    transition: all 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.836);
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(5px);
    padding: 20px 5%;
}

.contact {
    background-color: rgba(0, 0, 0, 0.836);
    border-top: 1px solid #bf5b04de;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3rem;
}

.contact-info h4 {
    color: #BF5B04;
    margin-bottom: 10px;
    font-size: 20px;
}

.contact-info p {
    color: white;
    font-size: 16px;
    font-weight: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .3s;
}

.contact-info p:hover {
    transform: translate(5px);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 1em;
}

.social-icons i {
    font-size: 24px;
    color: white;
    transition: 0.3s ease;
}

.social-icons i:hover {
    color: #BF5B04;
}

.copyright {
    background-color: #BF5B04;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
}

@media(max-width:890px) {
    header {
        padding: 20px 3%;
        transition: 0.4s;
    }
}

@media(max-width:630px) {
    .main-text h1 {
        font-size: 72px;
        transition: .4s;

    }
    .main-text .down-text {
        font-size: 48px;
        transition: .4s;
    }

    .main-text p {
        font-size: 24px;
        transition: .4s;
    }

    .main-btn {
        padding: 10px 20px;
        transition: .4s;
    }
}

@media(min-width:935px) {
    .nav-icon {
        display: none;
    }
}


@media(max-width:935px) {
    .nav {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: rgba(0, 0, 0, 0.836);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: .4s;
    }

    .nav a {
        display: block;
        margin: 18px;
    }

    .nav.open {
        right: 0;
    }

    .main-text h1 {
        color: #BF5B04;
    }

    .main-text .down-text {
        color: #BF5B04;
    }

    .main-text p {
        color: black;
    }

    .main-text h5 {
        color: black;
    }

    .down {
        top: 80%;
        transition: .4s ease;
    }
}

@media(max-width:600px) {
    .main-home::before {
        left: -30%;
        transition: .4s;
    }

    .main-text {
        border-radius: 50px;
        background-color: rgba(110, 109, 109, 0.205);
        padding: 15px;
        backdrop-filter: blur(5px);
    }

    .main-text h1 {
        font-size: 48px;
        transition: .4s;

    }
    .main-text .down-text {
        font-size: 48px;
        transition: .4s;
    }

    .main-text p {
        font-size: 24px;
        transition: .4s;
    }

    .main-btn {
        padding: 10px 20px;
        transition: .4s;
    }

    .down {
        top: 80%;
        transition: .4s ease;
    }
}